body{
    background-color: #fffabb;
}

h2{
    color: #bb9542;
}

label{
    color: #967329;
    font-size: 120%;
}

button{
    color: #967329;
    font-size: 105%;
}

p{
    color: #967329;
    font-size: 110%;
}

p a{
    color: #40b9b7;
}



